.App {
  text-align: center;
}
.textCenter {
  text-align: center;
}
.headerContent,.menuContent,.footerContent{
  background-color: #0295E5;
  color: #FFFEFA;
}
:global(.ant-menu-item-selected),:global(.ant-menu-item-active){
  border-bottom: none !important;
  color:#FFFEFA!important;
}
:global(.ant-menu-item-selected){
  border-bottom: solid 1px #FFFEFA !important;
}
:global(.ant-menu-horizontal){
  border-bottom: none !important;
}

