.App {
  text-align: center;
}
.textCenter {
  text-align: center;
}
.headerContent,.menuContent,.footerContent{
  background-color: #0295E5;
  color: #FFFEFA;
}
.logo{
  float:left; 
}
.logo>img{
  width:100px;
  height:60px;
}

.mainContent{
  margin:10px 0px;
}
:global(.ant-menu-item-selected),:global(.ant-menu-item-active){
  color:#FFFEFA!important;
}
:global(.ant-menu-item-selected){
  border-bottom: solid 1px #FFFEFA !important;
}
:global(.ant-menu-horizontal){
  border-bottom: none !important;
  float: right;
}

